.loader__wrapper {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;

   svg {
      position: fixed;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      .logo-text__path {
         fill: var(--white);
      }
   }

   .top__line {
      width: 100%;
      min-height: 500px;
      background: var(--loaderColor);
   }

   .bottom__line {
      width: 100%;
      height: 100%;
      background: var(--loaderColor);
   }

   .center__line {
      width: 100%;
      background: var(--loaderColor);
   }

   @media screen and (max-width: 990px) {
      svg {
         width: 72px;
         height: auto;
      }
   }

   @media screen and (max-width: 768px) {
      svg {
         top: 53px;
         width: 55px;
      }
   }
}